/*  *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 
    *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 


    Stretch the Developer Console out fully so that you can see the entire logo. This is a test to ensure that you can view the code in it's properly formatted manner. 


_____/\\\\\\\\\\\___      __/\\\\\\\\\\\_      __/\\\\____________/\\\\_      __/\\\\\\\\\\\\\___      _______/\\\\\______      _____/\\\\\\\\\____      ____/\\\\\\\\\_____      __/\\\\\\\\\\\\____        
 ___/\\\/////////\\\_      _\/////\\\///__      _\/\\\\\\________/\\\\\\_      _\/\\\/////////\\\_      _____/\\\///\\\____      ___/\\\\\\\\\\\\\__      __/\\\///////\\\___      _\/\\\////////\\\__       
  __\//\\\______\///__      _____\/\\\_____      _\/\\\//\\\____/\\\//\\\_      _\/\\\_______\/\\\_      ___/\\\/__\///\\\__      __/\\\/////////\\\_      _\/\\\_____\/\\\___      _\/\\\______\//\\\_      
   ___\////\\\_________      _____\/\\\_____      _\/\\\\///\\\/\\\/_\/\\\_      _\/\\\\\\\\\\\\\\__      __/\\\______\//\\\_      _\/\\\_______\/\\\_      _\/\\\\\\\\\\\/____      _\/\\\_______\/\\\_     
    ______\////\\\______      _____\/\\\_____      _\/\\\__\///\\\/___\/\\\_      _\/\\\/////////\\\_      _\/\\\_______\/\\\_      _\/\\\\\\\\\\\\\\\_      _\/\\\//////\\\____      _\/\\\_______\/\\\_    
     _________\////\\\___      _____\/\\\_____      _\/\\\____\///_____\/\\\_      _\/\\\_______\/\\\_      _\//\\\______/\\\__      _\/\\\/////////\\\_      _\/\\\____\//\\\___      _\/\\\_______\/\\\_   
      __/\\\______\//\\\__      _____\/\\\_____      _\/\\\_____________\/\\\_      _\/\\\_______\/\\\_      __\///\\\__/\\\____      _\/\\\_______\/\\\_      _\/\\\_____\//\\\__      _\/\\\_______/\\\__  
       _\///\\\\\\\\\\\/___      __/\\\\\\\\\\\_      _\/\\\_____________\/\\\_      _\/\\\\\\\\\\\\\/__      ____\///\\\\\/_____      _\/\\\_______\/\\\_      _\/\\\______\//\\\_      _\/\\\\\\\\\\\\/___ 
        ___\///////////_____      _\///////////__      _\///______________\///__      _\/////////////____      ______\/////_______      _\///________\///__      _\///________\///__      _\////////////_____


    Stretch the Developer Console out fully so that you can see the entire logo. This is a test to ensure that you can view the code in it's properly formatted manner. 

    *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 
    *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 
    KEY :

        BODY

        SCROLLBAR 

    // *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 
    // *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ */
/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Body Styling Starts Here */ 

body{
    background-color: #F5F5DC;
    margin: 0;
}
/* Body Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Scrollbar Styling Starts Here */

::-webkit-scrollbar{
    height: auto;
    width: auto;
}

::-webkit-scrollbar-button:single-button{
    background: rgb(128, 128, 128);
    display: block;
    background-size: 25px;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url(/Media/Layout/upArrowScrollTrack.png);
    height: 25px;
    width: 25px;
    background-position: center 1px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url(/Media/Layout/downArrowScrollTrack.png);
    height: 25px;
    width: 25px;
    background-position: center 1px;
}


::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background: rgb(0, 0, 0);
    background-image: url(/Media/Layout/upArrowScrollTrack_invert.png);
    height: 25px;
    width: 25px;
    background-position: center 1px;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background: rgb(0, 0, 0);
    background-image: url(/Media/Layout/downArrowScrollTrack_invert.png);
    height: 25px;
    width: 25px;
    background-position: center 1px;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url(/Media/Layout/upArrowScrollTrack.png);
    height: auto;
    width: 20px;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url(/Media/Layout/downArrowScrollTrack.png);
    height: auto;
    width: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 31px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

/* Scrollbar Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Base Styling Starts Here */ 

#Base{  /* The base includes the baseplate of the website application, 
        e.g. the lowest layer background colour. */ 
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column; 
    margin: 0;
    overflow: hidden
}

/* Base Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Circuit Config Area Styling Starts Here */

#CircuitConfigurationArea{  /* The Circuit Config Area contains the File Menu
                            and the Logo Text. */ 

    display: flex;
    flex: 1; 
    background-color: rgb(128, 128, 128);
    padding: 10px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    gap: 2rem;
    height: 25%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

/* Circuit Config Area Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Logo Text Syling Starts Here */ 

#LogoText{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Logo Text Syling Ends Here */

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* File Menu Styling Starts Here */ 

#FileMenu{
    gap: 2rem;
}

/* File Menu Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Circuit Builder Area Styling Starts Here */ 

#CircuitBuilderArea{
    display: flex;
    flex: 10; 
    height: 75%;          /* Sets the overall height of our CircuitBuilder area so that we can define scroll overflow limits later on in the Workspace & Object Menu */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Circuit Builder Area Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Object Menu Styling Starts Here */ 

#ObjectMenu{
    background-color: rgb(164, 164, 164);
    width: 200px; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    padding: 1rem;
}

/* Object Menu Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Workspace Styling Starts Here */ 

#Workspace{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 5; 
    padding: 0rem
}

/* Workspace Styling Ends Here */

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Grid Container Styling Starts Here */ 

#GridContainer{
    height: 100%;
    width: 100%; 
    background-color: blue;
}

/* Grid Container Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Grid Canvas Styling Starts Here */ 

#GridCanvas{
    height: 100%;
    width: 100%;  
    background-color: #dede94;
}

/* Grid Canvas Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Buttons Inside Of The Object Menu Are Styled Here */ 

#ObjectMenu button{
    background-color: #dede94; 
    border-radius: 31px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Styling Halts Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Buttons Inside Of The File Menu Are Styled Here */ 

#FileMenu button{
    background-color: #dede94;
    font-family:'Bell MT', 'Courier New', Courier, monospace;
    font-weight: bolder; 
    text-align: center;
    height: 8rem;
    width: 8rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Styling Halts Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Text Inside Of The Object Menu Is Styled Here */ 

.ObjectMenuCategoryText{
    font-family:'Bell MT', 'Courier New', Courier, monospace;
    font-weight: bolder; 
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Styling Halts Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Images With This Class Are Styled Here */ 

#GlobalImageVisualFormat{
    width: 90px; 
    height: 90px;
}

/* Styling Halts Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Header Tags With This Class */ 

.HeaderLine{
    color: rgb(128, 128, 128); 
    border-style: inset; 
    border-width: 5px; 
    margin: 0.5em;
}

/* Styling Halts Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 

/* Logic Gate Object Styling Starts Here */ 

.DraggableGate {
    position: absolute;
    z-index: 9;
    background-color: #ffffff00;
    border: 1px solid #ffffff00;
    text-align: center;
}

.DraggableGateHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #ffffff00;
    color: #ffffff00;
}

/*/ Logic Gate Object Styling Ends Here */ 

/* //~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬-~¬- */ 
/*  *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 
    *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 


    Thank you for using:  


_____/\\\\\\\\\\\___      __/\\\\\\\\\\\_      __/\\\\____________/\\\\_      __/\\\\\\\\\\\\\___      _______/\\\\\______      _____/\\\\\\\\\____      ____/\\\\\\\\\_____      __/\\\\\\\\\\\\____        
 ___/\\\/////////\\\_      _\/////\\\///__      _\/\\\\\\________/\\\\\\_      _\/\\\/////////\\\_      _____/\\\///\\\____      ___/\\\\\\\\\\\\\__      __/\\\///////\\\___      _\/\\\////////\\\__       
  __\//\\\______\///__      _____\/\\\_____      _\/\\\//\\\____/\\\//\\\_      _\/\\\_______\/\\\_      ___/\\\/__\///\\\__      __/\\\/////////\\\_      _\/\\\_____\/\\\___      _\/\\\______\//\\\_      
   ___\////\\\_________      _____\/\\\_____      _\/\\\\///\\\/\\\/_\/\\\_      _\/\\\\\\\\\\\\\\__      __/\\\______\//\\\_      _\/\\\_______\/\\\_      _\/\\\\\\\\\\\/____      _\/\\\_______\/\\\_     
    ______\////\\\______      _____\/\\\_____      _\/\\\__\///\\\/___\/\\\_      _\/\\\/////////\\\_      _\/\\\_______\/\\\_      _\/\\\\\\\\\\\\\\\_      _\/\\\//////\\\____      _\/\\\_______\/\\\_    
     _________\////\\\___      _____\/\\\_____      _\/\\\____\///_____\/\\\_      _\/\\\_______\/\\\_      _\//\\\______/\\\__      _\/\\\/////////\\\_      _\/\\\____\//\\\___      _\/\\\_______\/\\\_   
      __/\\\______\//\\\__      _____\/\\\_____      _\/\\\_____________\/\\\_      _\/\\\_______\/\\\_      __\///\\\__/\\\____      _\/\\\_______\/\\\_      _\/\\\_____\//\\\__      _\/\\\_______/\\\__  
       _\///\\\\\\\\\\\/___      __/\\\\\\\\\\\_      _\/\\\_____________\/\\\_      _\/\\\\\\\\\\\\\/__      ____\///\\\\\/_____      _\/\\\_______\/\\\_      _\/\\\______\//\\\_      _\/\\\\\\\\\\\\/___ 
        ___\///////////_____      _\///////////__      _\///______________\///__      _\/////////////____      ______\/////_______      _\///________\///__      _\///________\///__      _\////////////_____


    Made by Christopher Cupid

    *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ 
    *&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_*&]^%$£)="!(:{}~@?><|\¬`+'#;/.,[-_ */