body{
    background-color: #dede94;
    text-align: center;
}

.BorderLayout{
    background-color: rgba(128, 128, 128, 0.5);
    text-align: left;
    gap: 2rem;
}

#TitleSizer{
    font-size: 8px;
}

.FormatLinkButton{
    padding: 100px;
}